{
  "extends": "standard",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "$": true,
    "hljs": true
  },
  "rules": {
    "no-new": "off",
    "space-before-function-paren": ["error", "never"],
    "semi": ["error", "never"]
  }
}
